@{
    ViewData["Title"] = "Delete result";
    var deletePersonName = ViewBag.DeletePersonName;
}

<h1 class="display-4 text-center">Person @deletePersonName was removed from the list successfully</h1>
